In [6]:
def length_of_name():
    first_name = input("What is your first name?")
    last_name = input("What is your last name?")
    x = print(f"The length of the full name {first_name} {last_name} is {len(first_name)+ len(last_name)}  characters long.")
    return x

length_of_name()

The length of the full name David Steffes is 12  characters long.

In [3]:
"etc" is None

<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
C:\Users\david\AppData\Local\Temp\ipykernel_14240\3924385497.py:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  "etc" is None

False

In [4]:
"etc" == None

False

In [7]:
li = []

li.append(1)
li.append(2)
li.append(4)
li.append(3)
li.pop(0)
print(li)

[2, 4, 3]

In [8]:
li.append(2)
li.append(2)
li.remove(2)

In [9]:
print(li)

[4, 3, 2, 2]

In [10]:
li.remove(2)

In [11]:
print(li)

[4, 3, 2]

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame({
    "a": [1,2,3],
    "b": [4,5,6],
    "c": [7,8,9]
})

In [23]:
def index_position(df, column, value):
    index_position = df[df[column] == value].index[0]
    return index_position

index_position(df, "a", 1)

np.int64(0)

## TUPLES
## DICTIONARIES
## SETS

In [24]:
#tuples are like lists but are immutable

tup = (1,2,3)

tup[0]

1

In [27]:
tup[0] = 3

TypeError: 'tuple' object does not support item assignment

In [28]:
#tuples of length 1 need a comma after the last element but tuples of all other lengths (including 0) do not

tup = (1,)

In [29]:
print(tup)

(1,)

In [30]:
len(tup)

1

In [35]:
tup =tup + (4,5,6)

In [36]:
tup[:2]

(1, 4)

In [37]:
tup[0]

1

In [38]:
tup[1]

4

In [39]:
2 in tup

False

## 3. Control Flow and Iterables

In [40]:
some_var = 5

In [42]:
if some_var > 10:
    print(f"some_var, {some_var}, is greater than 10")
elif some_var <10:
    print(f"some_var, {some_var}, is less than 10")
else:
    print(f"some_var, {some_var}, is equal to 10")

some_var, 5, is less than 10

In [3]:
#for loops iterate over lists
animals = ['dog', 'cat', 'bird']
for animal in animals:
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
bird is a mammal

In [4]:
for i, animal in enumerate(animals):
    if i==0:
        print(f"{animal} is the first animal in the list")
    else:
        print(f"{animal} is not the first animal in the list")

dog is the first animal in the list
cat is not the first animal in the list
bird is not the first animal in the list

In [7]:
for i, animal in enumerate(animals):
    print(i, animal)

0 dog
1 cat
2 bird

In [8]:
#enumerate lets you track both the index value and the value of the element in the list

In [11]:
def counter(x):
    x = 0
    while x<10:
        print(x)
        x+=1
    return x
#does not matter what you pass in as the argument, the function will always print 0-9
counter(7)

0
1
2
3
4
5
6
7
8
9

10